* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  background: #050505;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#monitor {
  width: min(100vw, 820px);
  aspect-ratio: 720 / 560;

  background: #353532;

  border: clamp(8px, 2vw, 18px) solid #242422;
  border-radius: clamp(20px, 5vw, 45px);

  position: relative;

  box-shadow:
    0 25px 60px #000,
    inset 0 0 25px #111;

  transition:
    transform 0.35s ease,
    width 0.35s ease;
}

#screen {
  position: absolute;

  left: 7%;
  top: 7%;

  width: 82%;
  height: 70%;

  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: clamp(8px, 2vw, 22px) solid #181817;
  border-radius: clamp(18px, 4vw, 35px);

  overflow: hidden;

  z-index: 4;
}

#screen-content {
  width: 100%;
  height: 100%;

  position: relative;
}

.desktop-icon {
  position: absolute;

  top: 5%;
  left: 4%;

  width: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.desktop-icon img {
  width: 45px;
  height: 45px;

  object-fit: contain;
}

.desktop-icon span {
  margin-top: 5px;

  color: white;

  font-family: Arial, sans-serif;
  font-size: 12px;

  text-align: center;

  text-shadow: 1px 1px 3px #000;
}

a {
  text-decoration: none;
}

#controls {
  position: absolute;

  right: 5%;
  bottom: 5%;

  display: flex;

  gap: clamp(5px, 1vw, 10px);
}

#controls button {
  width: clamp(9px, 2vw, 16px);
  aspect-ratio: 1;

  border: none;
  border-radius: 50%;

  background: #151513;

  box-shadow:
    inset 2px 2px 3px #444,
    inset -2px -2px 3px #000;
}

#stand {
  position: absolute;

  width: 17%;
  height: 12%;

  left: 50%;
  bottom: -12%;

  transform: translateX(-50%);

  background: #292927;
}

#base {
  position: absolute;

  width: 35%;
  height: 5%;

  left: 50%;
  bottom: -17%;

  transform: translateX(-50%);

  background: #242422;

  border-radius: 15px;
}

#fullscreen-btn {
  position: fixed;

  top: 15px;
  right: 15px;

  width: clamp(36px, 5vw, 50px);
  height: clamp(36px, 5vw, 50px);

  border: 1px solid #444;
  border-radius: 8px;

  background: #151515;
  color: white;

  font-size: clamp(16px, 2vw, 22px);

  cursor: pointer;

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

#monitor:has(#screen:hover) {
  transform: scale(0.94);
}

body:fullscreen {
  background: #050505;

  display: flex;
  justify-content: center;
  align-items: center;
}

body:fullscreen #monitor {
  width: min(96vw, 1200px);
  max-height: 96vh;
}

@media (max-width: 600px) {

  #monitor {
    width: 94vw;
  }

  #screen {
    left: 6%;
    top: 6%;

    width: 84%;
    height: 69%;
  }

  .desktop-icon {
    width: 55px;
  }

  .desktop-icon img {
    width: 38px;
    height: 38px;
  }

  .desktop-icon span {
    font-size: 10px;
  }
}